HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### AWS ###
.aws-sam/*

.openapi-generator

### ENV Files ###
scripts/*/mysql/.env
scripts/*/java-app/.env
scripts/*/java-app/com.yubicolabs.passkey_rp.jar
scripts/*/java-app/source
scripts/*/react-app/source