//
//  Constants.xcconfig
//  PawsKey
//
//  Created by Dennis Hills on 6/5/23.
//  Copyright © 2023 Yubico. All rights reserved.
//

// API Endpoint URI
API_BASE_URI = https:/$()/replace-with-your-hostname.trycloudflare.com/v1

// Relying Party Endpoint Domain. This needs to match your RP Id
RP_ID = replace-with-your-hostname.trycloudflare.com
