.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.middle-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.middle-text span {
  background: #fff;
  padding: 0 10px;
}

.footer-item {
  padding-top: 1em;
}

.footer-item>div {
  margin-top: 1.5em;
  margin: 2em 0;
}

.footer-item li a {
  color: #fefefe;
}

.icon-circle {
  padding: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.icon-circle-svg {
  margin: auto;
  display: block;
}

.svg-container {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  width: 75px;
  height: 85px;
  border-radius: 50%;
  margin: auto;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .svg-container {
    margin-bottom: 1em;
  }
}

.delete-credential {
  text-align: center;
  align-items: center;
  margin: auto;
  display: contents;
}

@media screen and (max-width: 576px) {
  .credential-info {
    margin-bottom: 1em;
  }
}



.svg-1 {
  margin: 0 auto;
  display: block;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.reg-item {
  text-align: center;
  border-right: 4px solid #d5d5d5;
}

.auth-item {
  text-align: center;
}

.username-form {
  margin-top: 2em;
}

.test-section {
  margin-top: 2em;
  padding-bottom: 3em;
  border-bottom: 5px solid black;
}

.alert {
  margin-top: 1em;
}

.card {
  margin-bottom: 2em;
}